body{
    margin: 0;
    /* background-repeat: no-repeat; */
    background-image: url("/1091882.webp");
    
    height: 110vh;
}
header{
     /* border: solid white; */
     padding: 20px;
     color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
    }
.logobox{
    /* border: 2px solid red; */
    display: inline-block;
    font-size: large;
    width: 150px;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    cursor: pointer;
}
.logobox:hover{
    color:tomato;
   
}
.navbox{
    /* border: 3px solid black; */
    width: 800px;
    position:absolute;
    display: inline-block;
    font-size: large;
    right: 160px;
    /* color: black; */
    font-weight: bolder;
    margin-right: 50px;
}
.navbox>a{
    color: rgb(3, 3, 3);
    margin: 50px;
    /* margin-right: 50px; */
    /* margin-right: 30px; */
    text-decoration: none;
    transition: all 0.3s;
}
.navbox>a:hover{
    color:black;
    padding: 3px;
    border: 5px solid tomato;
    border-radius: 9px;
    background-color: tomato;
}
h1{
    color:tomato;
    font-size: 110px;
    /* border: 2px solid white; */
    position: relative;
    top: 60px;
    left: 80px;
    width: 500px;
}
span{
    color: black;
    font-size: 130px;
    /* text-shadow: 1vh; */
/*  */
    /* border: 2px solid white;
    position: relative;
    padding-top: 100px; */
}
h3{
    /* border: 2px solid white; */
    color: white;
    font-size: 40px;
    position: relative;
    top: -15px;
    left: 95px;
    width: 500px;
}
p{
    color: white;
    /* border: 2px solid white; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    font-style: italic;
    top: -15px;
    left: 95px;
    width: 500px;
    word-spacing: 5px;
}
.btn{
    width: 10px;
    padding: 20px;
    border: none;
    border-radius: 9px;
    position: relative;
    /* font-style: italic; */
    font-weight: 900;
    /* top: -15px; */
    left: 90px;
    width: 400px;
    cursor: pointer;
}
.btn:hover{
    background-color: tomato;
    color: white;
    transition: all 0.4s;
    text-decoration: underline;
}
footer{
    color: rgb(255, 255, 255);
    /* border: 2px solid white; */
    position: fixed;
    bottom: 0;
}
#h1{
    /* border: 2px solid white; */
    top: -30px;
    position: relative;
    margin-left: 130px;
}
